/* Styles du header */
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39590A;
    padding: 15px 20px;
    color: white;
    position: relative;
    width: 100%; /* Occupe toute la largeur de l'écran */
}

.logo img {
    height: 60px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #ffdb4f;
}

/* Styles pour le menu burger */
.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: white; /* Couleur blanche pour le menu burger */
    text-align: center; /* Centre le menu burger */
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 50%; /* Centre le menu burger */
    transform: translateX(-50%); /* Centre le menu burger */
    background-color: #39590A;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        text-align: center; /* Centre le menu burger */
    }

    .nav-links a {
        font-size: 0.9em; /* Réduit la taille des écritures */
    }

    .logo img {
        height: 50px; /* Réduit la taille du logo */
    }
}

@media screen and (max-width: 480px) {
    .nav-links a {
        font-size: 0.8em; /* Réduit encore la taille des écritures */
    }

    .logo img {
        height: 40px; /* Réduit encore la taille du logo */
    }
}



/* Styles généraux pour le footer */
footer {
    width: 100%; /* Occupe toute la largeur de l'écran */
    background-color: #39590A;
    color: #ffffff;
    padding: 30px 10px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center; /* Centre le contenu du footer */
}

/* Conteneur principal du footer */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centre les colonnes */
    align-items: flex-start;
    max-width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

/* Colonne du footer */
.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left; /* Aligne le texte des colonnes à gauche */
    margin: 10px;
    min-width: 150px; /* Réduit la taille des éléments parent */
    align-items: center; /* Centre les colonnes */
}

.footer-column p {
    margin: 5px 0;
    font-size: 15px;
}

/* Logo du footer */
.footer-logo img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

/* Section tout en bas du footer */
.footer-bottom {
    width: 100%; /* Occupe toute la largeur de l'écran */
    background-color: #e0e0e0;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute; /* Positionne l'élément en bas du footer */
    bottom: 0; /* Colle l'élément au bas du footer */
    left: 0; /* Aligne l'élément à gauche */
}

.footer-bottom p {
    margin: 0;
}

/* Amélioration des liens */
.footer-column a {
    font-size: 0.9em;
    line-height: 1.5;
    color: #ffffff;
    text-decoration: none;
    display: block; /* Affiche les liens l'un après l'autre */
    text-align: left; /* Aligne le texte des liens à gauche */
    width: 100%; /* Assure que les liens prennent toute la largeur disponible */
}

.footer-column h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #85db18;
    cursor: pointer; /* Ajout du curseur pointer pour indiquer que c'est cliquable */
    text-align: left; /* Aligne le texte des titres à gauche */
    width: 100%; /* Assure que les titres prennent toute la largeur disponible */
}

.footer-column a:hover {
    color: #ffdb4f;
}

/* Styles pour le formulaire */
.footer-column form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%; /* Assure que le formulaire prend toute la largeur disponible */
}

.footer-column input[type="email"] {
    padding: 10px;
    border: 1px solid #85db18;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%; /* Assure que le champ de saisie prend toute la largeur disponible */
}

.footer-column button {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.footer-column button:hover {
    background-color: #ffdb4f;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center; /* Centre le contenu du footer */
    }

    .footer-logo img {
        height: 40px; /* Réduit la taille du logo */
    }

    .footer-column {
        margin-bottom: 20px;
        align-items: center; /* Centre les colonnes */
    }

    .footer-column input,
    .footer-column button {
        width: 100%;
    }

    .footer-column p,
    .footer-column a,
    .footer-column h3 {
        font-size: 0.9em; /* Réduit la taille des écritures */
    }

    .footer-content {
        display: none;
    }

    .footer-column h3 {
        cursor: pointer;
    }

    .footer-column h3:hover + .footer-content {
        display: block;
    }

    .footer-column a {
        display: block; /* Affiche les liens l'un après l'autre */
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {
    .footer-logo img {
        height: 30px; /* Réduit encore la taille du logo */
    }

    .footer-column p,
    .footer-column a,
    .footer-column h3 {
        font-size: 0.8em; /* Réduit encore la taille des écritures */
    }
}
