.dashboard-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #16a085;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px;
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    color: #f39c12;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fdfdfd;
  }
  
  header h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .orders {
    display: flex;
    gap: 20px;
  }
  
  .order-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .order-card p {
    font-size: 16px;
  }
  