/* PAGE HOME */
.home {
    text-align: center;
    padding: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #39590A;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    text-align: left;
    color: #39590A;
    font-size: 22px;
}

h3 {
    color: #39590A;
    text-align: left;
    font-size: 25px;
    margin-top: 30px;
}

.para {
    text-align: justify;
    margin: 20px auto;
    font-size: 16px;
    line-height: 1.8;
    color: #000;
    max-width: 800px;
}

.ima-accueil {
    width: 100%; /* L'image occupe toute la largeur de l'écran */
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.image-row {
    background-color: #efc61e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    flex-wrap: nowrap; /* Empêche les images de se répartir sur plusieurs lignes */
}

.image-item {
    text-align: center;
    flex: 1; /* Permet aux images de prendre une largeur égale */
    margin: 10px;
}

.image {
    width: 100%; /* Ajuste la largeur de l'image pour occuper toute la largeur de son conteneur */
    height: 150px; /* Fixe la hauteur des images */
    object-fit: cover; /* Maintient le ratio d'aspect de l'image */
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
}

.description {
    margin-top: 10px;
    font-size: 14px;
    color: #39590A;
    font-weight: 800;
}

.btn-play {
    background-color: #39590A;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

.btn-play:hover {
    background-color: #ffdb4f;
    color: #39590A;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .image-row {
        flex-direction: column; /* Les images s'affichent en hauteur l'une après l'autre */
    }

    .image-item {
        width: 100%; /* Les images prennent toute la largeur de l'écran */
        margin: 10px 0; /* Ajoute de l'espace entre les images */
    }

    .image {
        width: 100%; /* Les images prennent toute la largeur de leur conteneur */
        height: auto; /* Maintient le ratio d'aspect de l'image */
    }
}
